



<!DOCTYPE xhtml>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                 >
    
        <div style="text-align:center;
             width: 200px;
             margin-left: 35px !important;">
            #{inicioSesionBean.info}
        </div>
        <br/>
         <h:form id="formu" enctype="multipart/form-data">
        <fieldset class="clearfix">
            <p>
                <span class="fontawesome-user">
                </span>
                <h:inputText value="#{inicioSesionBean.usuario}"
                             class="form-control"
                             id="username"
                             pt:placeholder="Nombre de Usuario"/>
            </p>
            <p>
                <span class="fontawesome-lock">
                </span>
                <h:inputSecret id="clave"
                               value="#{inicioSesionBean.clave}" 
                               class="form-control"
                               pt:placeholder="Contraseña"/>
            </p>
            <br/>
            <br/>
            <p><h:commandButton 
                    value="Ingresar"
                    actionListener="#{inicioSesionBean.autenticar}"/></p>
        </fieldset>  
             </h:form>
   
</ui:composition>