<!DOCTYPE xhtml>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="/template/homeTemplateLogin.xhtml" >
    <ui:define name="content">
        <h:form id="login">
              
            
              <h:outputText id="messagess" 
                              value="#{inicioSesionMb.info}" 
                              class="msjError"/>       
                <fieldset 
                    class="clearfix"> 
                   
                    <div class="input-group">
                        <h:panelGroup  
                            class="input-group-addon">&#x2a;</h:panelGroup>
                        <h:inputText 
                            value="#{inicioSesionMb.usuario}" 
                            class="form-control" 
                            pt:placeholder="Nombre de usuario"/>
                    </div>

                    <div 
                        class="input-group">
                        <span 
                            class="input-group-addon">&#x2a;</span>
                        <h:inputSecret 
                            id="clave" 
                            value="#{inicioSesionMb.clave}" 
                            class="form-control" 
                            pt:placeholder="Contraseña"/>
                    </div>
                    <h:panelGrid>
                        <h:link 
                            value="Olvidé mi contraseña"  
                            outcome="login"
                            class="forgetpass">
                        </h:link>
                    </h:panelGrid>    
                    <h:panelGrid >
                        <h:commandButton 
                            id="buttonLogin"
                            value="Ingresar" 
                            class="btn default"
                            actionListener="#{inicioSesionMb.autenticar}"                            
                            />             
                        
            
                    </h:panelGrid>      
 
                </fieldset>
            
        </h:form>
    </ui:define> 
</ui:composition>
