<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:panelGroup 
        id="modalEditar"
                  >
        <div id="popUpEdit" 
             class="modalEdit">      
            <div class="modalEdit-content">
                <h:form prependId="false">
                    <h:panelGroup id="edit1"> 
                        <ui:insert id="editInputTop" 
                                   name="editInputTop"/>
                    </h:panelGroup>
                    <h:panelGroup id="edit3">
                        <ui:insert id="editBtn" name="editBtn"/>
                    </h:panelGroup>
                </h:form>
            </div>
        </div>
    </h:panelGroup>
</ui:composition>
