<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                >
    <h:head>
        <meta name="viewport" 
              content="width=device-width, initial-scale=1" 
              charset="UTF-8"/>
        <title>#{msg.titulo_principal}</title>
        <ui:include 
            src="/template/includeGlobalFiles.xhtml"/> 
    </h:head>
    <h:body class="body-login">

        <div id="contentLogin">
            <ui:insert name="contentLogin" >
                <ui:include 
                    src="/template/contentLogin/contentLogin.xhtml" />
            </ui:insert>
        </div>

        <div id="footerLogin">
            <ui:insert name="footerLogin" >
                <ui:include 
                    src="/template/footerLogin/footerLogin.xhtml" />
            </ui:insert>
        </div>

    </h:body>
</ui:composition>