<!--
imartipe@everis.com.co

Include de archivos necesarios del aplicativo para no tener conflictos
y organizar utilidades.
-->
<!DOCTYPE html>

<!--@amendega
Archivos de css y JQuery-->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    id="includeGlobalFiles"
    >
    <h:head>
        <meta name="viewport" 
              content="width=device-width, 
              initial-scale=1" charset="UTF-8"/>
        <meta http-equiv="Content-type" 
              content="text/html; 
              charset=utf-8"/>
        <h:outputStylesheet 
            name="bootstrap.min.css" 
            library="css"/>
        <h:outputStylesheet 
            name="parametrizacion.css" 
            library="css"/>  
        <h:outputScript 
            name="jquery-1.12.4.js" 
            library="js"/>   
        <h:outputScript 
            name="bootstrap.js" 
            library="js"/>
        <h:outputStylesheet 
            name="jquery-ui.css" 
            library="css"/>
        <h:outputScript 
            name="parametrizacion.js" 
            library="js"/>
        <h:outputScript 
            name="jquery-ui.js" 
            library="js"/>
        <h:outputScript 
            name="respond.js" 
            library="js" />
         <h:outputScript 
            name="sha.js" 
            library="js" />
    </h:head>
</ui:composition>
