<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view >
        <div id="popUpProgress" 
             class="modalProgress">      
            <div class="modalProgress-content"> 
                <h:outputText value="Operación en proceso" 
                              class="float-text-4"/>                  
                <h:panelGroup class="booton-position float-bootons"/>
            </div>
        </div>
    </f:view>   
</ui:composition>
