<ui:composition

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div id="popUpDelete" 
         class="modalGenericRemove"> 
        <div class="modal-content">   
            <span class="closed"
                  onclick="hidenModal('popUpDelete')">X</span>  
            <h:outputText value="¿Estás seguro de que " 
                          class="float-text"/>
            <h:outputText value="deseas eliminar esta fila ?" 
                          class="float-text-l"/>
            <h:panelGroup class="booton-position float-bootons">
                <ui:insert id="btnsRemove" name="btnsRemove"></ui:insert>
            </h:panelGroup> 
        </div>
    </div>
</ui:composition> 
