<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"

    >
    <h:head>
        <ui:include 
            src="/template/includeGlobalFiles.xhtml"/> 
        <h:outputScript 
            name="jquery.dataTables.min.js"
            library="js"/>
        <h:outputStylesheet 
            name="jquery.dataTables.min.css"    
            library="css"/>    
    </h:head>

    <h:panelGroup id="idPanelTable">

        <h:panelGroup id="dataTable" class="table-content">
            <ui:insert id="data" name="data"/>
            <script>
                $(document).ready(
                        function () {
                            t = $('#table').DataTable();
                            t.on(
                                    'order.dt search.dt',
                                    function () {
                                        t.column(0, {
                                            search: 'applied',
                                            order: 'applied'
                                        }).nodes().each(
                                                function (cell, i) {
                                                    cell.innerHTML = i + 1;
                                                }
                                        );
                                    }
                            );
                            t.draw();
                        }
                );
            </script>
        </h:panelGroup>
        <ui:include
            src="/template/operationInProgressTemplate.xhtml"
            />
        <ui:insert 
            id="editInputs" 
            name="editInputs"/>
        <ui:insert 
            id="removeBtns" 
            name="removeBtns"/>

    </h:panelGroup>
</ui:composition>
