 <ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                >
    <h:head> 
        <title>#{msg.titulo_principal}</title> 
        <ui:include 
            src="/template/includeGlobalFiles.xhtml"/> 
    </h:head>

    <!--@amendega
         template general que contiene la cabecera, contenido y pie de página 
    -->
    <h:body onload="asignarFechaActual();"> 
        <div id="header">
            <ui:insert name="header" >
                <ui:include src="/template/header/header.xhtml" /> 
            </ui:insert>
        </div>

        <div id="content">
            <ui:insert name="content" >
                <ui:include src="/template/content/content.xhtml" />
            </ui:insert>
        </div>

        <div id="footer">
            <ui:insert name="footer" >
                <ui:include src="/template/footer/footer.xhtml" />
            </ui:insert>
        </div>
    </h:body>
    
    <script type="text/javascript">
        loadingWindow();
        
        
        function anchoWindow(){
            $(window).resize(function(){
            //aqui el codigo que se ejecutara cuando se redimencione la ventana
            var ancho=$(window).width();
            });
            return ancho;
        }
    </script>
</ui:composition>
