<ui:composition  template="/template/editTemplate.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                 xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="editInputTop"> 
        <h:outputText id="messagess" 
                              value="#{ajustesMb.info}" 
                              class="msjError"/> 
        <h:panelGrid columns="4" 
                     id="panelEditCreate"
                     onclick="hiddenMessage()">
            <h:panelGroup id="campCodAjuste">
                <h:message for="codAjusteEdit" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbCodAjuste"
                               value="Código Ajuste(*)"
                               for="codAjusteEdit"/>
                <h:inputText 
                    id="codAjusteEdit"
                    readonly="true"
                    value="#{ajustesMb.codAjuste}"
                    pt:placeholder="Código Ajuste"
                    required="true"
                    requiredMessage="#{msg.mensaje_validacion}"/>
            </h:panelGroup>
            
            
            
            <h:panelGroup id="campDescripcionAjuste">
                <h:message for="DescripcionAjusteEdit" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbDescripcionAjuste"
                               value="Descripción Ajuste(*)"
                               for="DescripcionAjusteEdit"/>
                <h:inputText 
                    id="DescripcionAjusteEdit"
                    readonly="true"
                    value="#{ajustesMb.descripcion}"
                    pt:placeholder="Descripción Ajuste"
                    required="true"
                    requiredMessage="#{msg.mensaje_validacion}"/>
            </h:panelGroup>
            <h:panelGroup id="campoEstadoAjuste">
                <h:message for="EstadoEdit" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbConfiguracioEstadoEdit"
                               value="Estado (*)"/>
                <h:selectOneMenu  id="EstadoEdit"
                                  class="listBoxOps"
                                  value="#{ajustesMb.estado}"
                                  required="true"
                                  requiredMessage="#{msg.mensaje_validacion}">
                     <f:selectItem id="radioEstadoEditSi" 
                                          itemLabel="Sí" 
                                          itemValue="1"/>
                    <f:selectItem id="EstadoEditNo" 
                                  itemLabel="No" 
                                  itemValue="0"/>
                </h:selectOneMenu>
            </h:panelGroup>
        </h:panelGrid>
    </ui:define>

    <ui:define name="editBtn">
        <h:panelGrid columns="5">    
            <h:panelGroup>
                <h:commandButton id="btnNuevo" 
                                 value="Nuevo" 
                                 action="#{ajustesMb.nuevo()}">
                </h:commandButton>    
            </h:panelGroup>
            <h:panelGroup>
                <h:commandButton id="btnCrear" 
                                 value="Guardar" 
                                 action="#{ajustesMb.guardar()}">
                </h:commandButton>    
            </h:panelGroup>
        </h:panelGrid>
    </ui:define>   
</ui:composition>


