<!DOCTYPE html>
<!--jmiguel@everis-->

<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
       id="actividadIngresarTablaComp"
       >
    <ui:composition>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Parametrización</a>
            <ul class="dropdown-menu" >
                <li>
                     <h:commandLink value="Ajustes" 
                                   styleClass="buttonGenericLinkOps"
                                   action="#{menuInicioMb.irMenu('AJUSTE')}"

                                   >
                                </h:commandLink> 
                </li> 
                <li>
                   <h:commandLink value="Causas" 
                                   styleClass="buttonGenericLinkOps"
                                   action="#{menuInicioMb.irMenu('CAUSA')}"

                                   >
                                </h:commandLink> 
                </li>              
            </ul>
        </li>
    </ui:composition>
</html>
