<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <!--@amendega
         header 
    -->
    <body>
       <ui:composition 
    template="/template/templateGeneral.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
            <div id="header" class="contenido">
                <h:form  prependId="false">
                    <ui:include id="modelVista" 
                                src="/secure/menu/menuVista.xhtml"/>
                </h:form>
                
                
                
            </div>
        </ui:composition>
    </body>
</html>