<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    >
    <ui:composition>
        <h:body id="menuVista" 
                onload="asignarFechaActual()">
            <!-- Cesar Gordillo 19-01-2018-->
            <div class="fadeDiv">
            </div>
            <!-- Fin Cesar Gordillo 19-01-2018-->
            <!-- Cesar Gordillo 19-01-2018-->
            <nav class="navbar navbar-default" 
                 role="navigation" id="navMenu">
                <div class="container-fluid"> 
                    <div class="collapse navbar-collapse" 
                         id="bs-example-navbar-collapse-1"> 
                        <table class="icon-date">
                            <tr>
                                <td rowspan="2">
                                    <span>
                                        <h:graphicImage 
                                            value="/resources/images/icon-fecha-hora.png" 
                                            class="calendar-img"/>
                                    </span>
                                </td>
                                <td>
                                    <h:outputText 
                                        id="dateSys" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputText 
                                        id="dateTimeAct"/>
                                </td>
                            </tr>
                        </table>                    
                    </div>                    
                </div>
                <!-- Cesar Gordillo 19-01-2018-->
                <div class="btnClose">
                    <a href="javascript:void(0)" 
                       class="closebtn" 
                       onclick="closeNav()">
                        <span class="glyphicon glyphicon-th-large" 
                              id="btnClose">
                            <h:graphicImage 
                                value="/resources/images/icon-cerrar-menu.png"/>
                        </span>
                    </a>                            
                </div> 
                <!-- Fin Cesar Gordillo 19-01-2018-->                       
                <!-- Cesar Gordillo 22-01-2018-->   
            </nav>
            <!-- Fin Cesar Gordillo 19-01-2018-->
                <div id="top">
                    <nav id="mySidenav" 
                         class="nav-side-menu sidenav navbar" 
                         role="navigation">
                        <div class="brand">
                            <h:graphicImage value="/resources/images/Icono-superior.png" 
                                            class="image-user"/>
                            #{usuarioSesionMB.usuario}                           
                        </div> 
                        <!-- jmiguel 11-07-2018 -->
                        <i class="fa fa-bars fa-2x toggle-btn" 
                           data-toggle="collapse" 
                           data-target="#menu-content"></i>
                        <div class="menu-list"> 
                            <ul>
                                <!-- menu Restricciones -->
                                <ui:include 
                                    src="/secure/menu/memuRestricciones.xhtml"/>     
                            </ul>
                        </div>
                    </nav>
                </div>
        </h:body> 
    </ui:composition>
</html>
