<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="formModal">
        <!--@amendega
        Declaración de variables-->
        <c:set 
            var="Info" 
            value="#{facesContext.maximumSeverity.ordinal eq msg.info}" />
        <c:set 
            var="Error" 
            value="#{facesContext.maximumSeverity.ordinal eq msg.error}" />
        <c:set 
            var="mensajeRender" 
            value="#{not empty facesContext.getMessageList('messageGeneric')}" />

        <!--PopUp para los mensajes de Info, Warning, Error-->
        <h:panelGroup id="modalGeneric" layout="block" 
                      rendered="#{mensajeRender}">   
            <div id="popUpGeneric" 
                 class="#{Info ? msg.informativo: Error 
                          ? msg.error : msg.error}">        
                <div class="#{Info ? msg.contenido_info : Error
                              ? msg.contenido_error 
                              : msg.contenido_error}">     
                    <h:commandLink action="#{navigationController.reload()}"
                                   class="closeCreateEnd"
                                   value="X"/> 
                    <h:messages id="messageGeneric"     
                                globalOnly="false" showDetail="false" 
                                errorClass="errorMessage" infoClass="infoMessage"
                                warnClass="warnMessage" fatalClass="errorMessage"
                                showSummary="true" 
                                />       
                </div> 
            </div>
        </h:panelGroup>
    </h:form>
</ui:composition> 
