<ui:composition  template="/template/editTemplate.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                 xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="editInputTop"> 
        <h:panelGrid columns="4" 
                     id="panelEditCreate"
                     onclick="hiddenMessage()">
            <h:panelGroup id="campCodAjustelb">
                <h:message for="codAjusteEditlb" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbCodAjustelb"
                               value="Código Ajuste(*)"
                               for="codAjusteEditlb"/>
                <h:inputText 
                    id="codAjusteEditlb"
                    value="#{ajustesMb.codAjuste}"
                    pt:placeholder="Código Ajuste"
                    required="true"
                    readonly="true"
                    requiredMessage="#{msg.mensaje_validacion}"/>
            </h:panelGroup>
            
            
            
            <h:panelGroup id="campDescripcionAjustelb">
                <h:message for="DescripcionAjusteEditlb" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbDescripcionAjustelb"
                               value="Descripción Ajuste(*)"
                               for="DescripcionAjusteEditlb"/>
                <h:inputText 
                    id="DescripcionAjusteEditlb"
                    value="#{ajustesMb.descripcion}"
                    pt:placeholder="Descripción Ajuste"
                    required="true"
                    requiredMessage="#{msg.mensaje_validacion}"/>
            </h:panelGroup>
            <h:panelGroup id="campoEstadoAjustelb">
                <h:message for="EstadoEditlb" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbOpsConfiguracioEstadoEditlb"
                               value="Estado (*)"/>
                <h:selectOneMenu  id="EstadoEditlb"
                                  value="#{ajustesMb.estado}"
                                  required="true"
                                  requiredMessage="#{msg.mensaje_validacion}">
                     <f:selectItem id="radioEstadoEditSilb" 
                                          itemLabel="Activo" 
                                          itemValue="1"/>
                    <f:selectItem id="EstadoEditNolb" 
                                  itemLabel="Inactivo" 
                                  itemValue="0"/>
                </h:selectOneMenu>
            </h:panelGroup>
        </h:panelGrid>
    </ui:define>

    <ui:define name="editBtn">
        <h:panelGrid columns="5">
            <h:panelGroup>
                <h:commandButton id="btnActualizar" 
                                 value="#{msg.edit}" 
                                 title="#{msg.edit}"
                                 action="#{ajustesMb.actualizar()}"
                                 onclick="hidenModal('popUpEdit')">
                    <f:ajax event="change" render="panelEditCreate, tablaOpsConfigOrigenPn1" execute="@this"/>
                </h:commandButton>    
            </h:panelGroup>
            <h:panelGroup>
                <h:commandButton  id="btnCancelar" 
                                  class="btnCancelTest" 
                                  actionListener="#{ajustesMb.cancelEdit()}"
                                  value="#{msg.cancelar}"
                                  title="#{msg.cancelar}">
                    <f:ajax render="panelEditCreate" 
                            onevent="closeEditModal"/> 
                </h:commandButton>
            </h:panelGroup>
        </h:panelGrid>
    </ui:define>   
</ui:composition>
