<!DOCTYPE html>
<!--imartipe@everis-->
<ui:composition 
    template="/template/templateGeneral.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:panelGroup id="contenidoUser" layout="block"></h:panelGroup>
    <ui:define name="title">#{msg.titulo_configuracion_ajuste}</ui:define>
    <ui:define name="labels">
        <h:panelGrid columns="8"
                     id="inputTable"
                     style="margin: 0 auto"
                     onclick="hiddenMessage()">
             <h:panelGroup id="campCodAjuste">
                <h:message for="codAjusteEdit" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbCodAjuste"
                               value="Código Ajuste(*)"
                               for="codAjusteEdit"/>
                <h:inputText 
                    id="codAjusteEdit"
                    value="#{ajustesMb.codAjuste}"
                    pt:placeholder="Código Ajuste"
                    required="true"
                    requiredMessage="#{msg.mensaje_validacion}"/>
            </h:panelGroup>
            
            
            
            <h:panelGroup id="campDescripcionAjuste">
                <h:message for="DescripcionAjusteEdit" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbDescripcionAjuste"
                               value="Descripción Ajuste(*)"
                               for="DescripcionAjusteEdit"/>
                <h:inputText 
                    id="DescripcionAjusteEdit"
                    value="#{ajustesMb.descripcion}"
                    pt:placeholder="Descripción Ajuste"
                    required="true"
                    requiredMessage="#{msg.mensaje_validacion}"/>
            </h:panelGroup>
            <h:panelGroup id="campoEstadoAjuste">
                <h:message for="EstadoEdit" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbOpsConfiguracioEstadoEdit"
                               value="Estado (*)"/>
                <h:selectOneMenu  id="EstadoEdit"
                                  value="#{ajustesMb.estado}"
                                  required="true"
                                  requiredMessage="#{msg.mensaje_validacion}">
                    <f:selectItem itemLabel="--Seleccione--" itemValue=""/>
                     <f:selectItem id="radioEstadoEditSi" 
                                          itemLabel="Activo" 
                                          itemValue="1"/>
                    <f:selectItem id="EstadoEditNo" 
                                  itemLabel="Inactivo" 
                                  itemValue="0"/>
                </h:selectOneMenu>
            </h:panelGroup>
        </h:panelGrid>            
    </ui:define>
    
    <ui:define name="formBootons">
        <center>
            <div class="booton-position">
                <h:panelGrid columns="2"
                             columnClasses="tdSpacer">
                    <h:commandButton
                        value="#{msg.crear}" title="#{msg.crear}"
                        styleClass="buttonGenericLinkOps" 
                        id="actualizar"
                        action="#{ajustesMb.guardar()}" 
                        >   
                    </h:commandButton>
                    <h:commandButton
                        value="#{msg.limpiar}"
                        action="#{navigationController.reload()}"
                        styleClass="buttonGenericLinkOps"
                        immediate="true"
                        id="btnClear">   
                    </h:commandButton>                  
                </h:panelGrid>
            </div>
        </center>
    </ui:define>
    
    <ui:define name="dataTable">
            <ui:include
                id="listasEditModal"
                src="/secure/parametrizacion/ajustes/tablaAjustesConfig.xhtml"/>
    </ui:define>
</ui:composition>

