<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <!--@amendega
         footer 
    -->
    <body>
        <div id="footer" class="contenido">
            <ui:composition>
                <h:panelGroup 
                    class="line-footer" 
                    layout="block">
                    <center>
                        <h:graphicImage 
                            value="/resources/images/LOGO INSPIRA.png" 
                            class="imageFo"/>        
                        <h:graphicImage 
                            value="/resources/images/Claro-blanco.png" 
                            class="imageFo"/>
                    </center>
                </h:panelGroup>
            </ui:composition>
        </div>
    </body>
</html>