<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <!--@amendega
         contenido 
    -->
    <body>
        <ui:composition>
            <div id="content" class="contenido">
                <h:form prependId="false">
                    <h:panelGroup id="panelContent" >
                        <ui:insert 
                            id="labels" name="labels"> 
                        </ui:insert>
                    </h:panelGroup>
                    <h:panelGroup 
                        class="form-bootons">
                        <ui:insert  id="formBootons" 
                                    name="formBootons"/>
                    </h:panelGroup>
                </h:form>

                <h:panelGroup id="linebody">
                    <h:panelGroup 
                        layout="block" 
                        class="line">
                    </h:panelGroup >
                </h:panelGroup>

                <h:form prependId="false">
                    <h:panelGroup>
                        <ui:insert  
                            id="dataTable" 
                            name="dataTable"/>
                    </h:panelGroup>
                </h:form>
                <!-- 
                @amendega
                Pop Up mensajes genericos y mensaje de confirmación-->
                <ui:include
                    src="/secure/modal/modalGeneric.xhtml"/>  
                <ui:include
                    src="/template/removeTemplate.xhtml"/>
                <ui:include
                    src="/template/operationInProgressTemplate.xhtml"
                    />
            </div>
        </ui:composition>
    </body>
</html>