<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <!--@amendega
         header 
    -->
    <body>
        <ui:composition>
            <div id="header" class="contenido">
                <h:form  prependId="false">
                    <ui:include id="modelVista" 
                                src="/secure/menu/menuVista.xhtml"/>
                </h:form>
                <h:panelGroup>
                    <h:panelGrid id="gird1" 
                                 columns="3" 
                                 class="table-td">
                        <h:panelGroup id="menu">
                            <span style="font-size:30px;cursor:pointer" 
                                  onclick="openNav()">
                                <h:graphicImage 
                                    value="/resources/images/Icon-menu.png" 
                                    class="icon-menu"/>
                            </span>
                        </h:panelGroup>

                        <h:panelGroup id="logo" 
                                      class="icon-claro">
                            <center>
                                <h:graphicImage 
                                    value="/resources/images/Claro-rojo.png"/>
                            </center>
                        </h:panelGroup>

                        <h:panelGroup id="logOut">
                            <h:panelGroup layout="span" 
                                          style="font-size:30px;cursor:pointer">
                                <h:form id="cerrarSesion">
                                    <h:commandLink 
                                        action="#{usuarioSesionMB.cerrarSesion()}" 
                                        id="linkCerrarSesion">
                                        <h:graphicImage 
                                            value="/resources/images/Icon-cerrar-sesion.png"
                                            class="icon-logout" 
                                            id="imgCerrarSesion"/>
                                    </h:commandLink>
                                </h:form>
                            </h:panelGroup>
                        </h:panelGroup>

                    </h:panelGrid>
                </h:panelGroup>
                <h:panelGroup >
                    <div>
                        <h:graphicImage 
                            value="/resources/images/Titulo-parametrizacion.png" 
                            class="label-verificacion"/>
                    </div>
                </h:panelGroup>
                <h:panelGroup class="title">
                    <ui:insert id="title" name="title"></ui:insert>
                </h:panelGroup>
            </div>
        </ui:composition>
    </body>
</html>