<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <!--@amendega
         contenido 
    -->
    <body>
        <ui:composition>
            <div id="contentLogin" 
                 class="contenido-Login">
                <h:panelGroup  id="container-login" >
                    <h:panelGroup id="logo" class="icon-claro">
                        <center>
                            <img 
                                src="./resources/images/Claro-rojo.png"/>
                        </center>
                    </h:panelGroup>
                    <h:panelGroup class="containerlogin center-block">
                        <img 
                            src="./resources/images/mujer-login.png" 
                            class="imagelogin" 
                            align="left"/>
                        <div>
                            <center>
                                <b class="titulolgn">#{msg.bienvenido}</b>
                                <br/>
                                <p class="txtlgn" >#{msg.login} <br/>${msg.app_claro}</p>
                                <br/>
                                <ui:insert name="content">
                                </ui:insert>
                            </center>  
                        </div>
                    </h:panelGroup>
                    <script>
                        window.onload = function () {
                            window.scroll(0, document.documentElement.scrollHeight);
                        }
                    </script>
                </h:panelGroup>
            </div>
        </ui:composition>
    </body>
</html>