<ui:composition  template="/template/removeTemplate.xhtml"    
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="btnsRemove">
        <h:panelGroup>
            <h:panelGroup id="btnel1" >      
                <h:commandButton id="btnEliminar" 
                                 value="#{msg.aceptar}"
                                 title="#{msg.aceptar}"
                                 action="#{causasMb.delete()}"
                                 immediate="true"
                                 onclick="hidenModal('popUpDelete')">
                    <f:ajax event="change" render="tablaOpsConfigOrigenPn2" execute="@this"/>
                </h:commandButton>
            </h:panelGroup>
            <h:panelGroup  id="btnel2"> 
                <h:commandButton id="deleteCancel" 
                                 value="#{msg.cancelar}"
                                 title="#{msg.cancelar}"
                                 immediate="true"
                                 />
            </h:panelGroup>
        </h:panelGroup>
    </ui:define>
</ui:composition>
