<ui:composition  template="/template/editTemplate.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                 xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="editInputTop"> 
        <h:panelGrid columns="4" 
                     id="panelEditCreate"
                     onclick="hiddenMessage()">
            <h:panelGroup id="campCodCausalb">
                <h:message for="codCausaEditlb" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbCodCausalb"
                               value="Código Causa(*)"
                               for="codCausaEditlb"/>
                <h:inputText 
                    id="codCausaEditlb"
                    value="#{causasMb.codCausa}"
                    pt:placeholder="Código Causa"
                    readonly="true"
                    required="true"
                    requiredMessage="#{msg.mensaje_validacion}"/>
            </h:panelGroup>
            
            
            
            <h:panelGroup id="campDescripcionCausalb">
                <h:message for="DescripcionCausaEditlb" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbDescripcionCausalb"
                               value="Descripción Causa(*)"
                               for="DescripcionAjusteEditlb"/>
                <h:inputText 
                    id="DescripcionCausaEditlb"
                    value="#{causasMb.descripcion}"
                    pt:placeholder="Descripción Causa"
                    required="true"
                    requiredMessage="#{msg.mensaje_validacion}"/>
            </h:panelGroup>
            <h:panelGroup id="campoEstadoCausalb">
                <h:message for="EstadoEditlb" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbOpsConfiguracioCausaEditlb"
                               value="Estado (*)"/>
                <h:selectOneMenu  id="CausaEditlb"
                                  value="#{causasMb.estado}"
                                  required="true"
                                  requiredMessage="#{msg.mensaje_validacion}">
                     <f:selectItem id="radioEstadoEditSilb" 
                                          itemLabel="Activo" 
                                          itemValue="1"/>
                    <f:selectItem id="EstadoEditNolb" 
                                  itemLabel="Inactivo" 
                                  itemValue="0"/>
                </h:selectOneMenu>
            </h:panelGroup>
            <h:panelGroup id="campoTipoCausalb">
                <h:message for="TipoEditlb" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbOpsConfiguracioTipoEditlb"
                               value="Tipo Causa(*)"/>
                <h:selectOneMenu  id="TipoEditlb"
                                  value="#{causasMb.tipoCausa}"
                                  required="true"
                                  requiredMessage="#{msg.mensaje_validacion}">
                     <f:selectItem id="radioTipoEdit" 
                                          itemLabel="Falla Masiva" 
                                          itemValue="Falla Masiva"/>
                </h:selectOneMenu>
            </h:panelGroup>
        </h:panelGrid>
    </ui:define>

    <ui:define name="editBtn">
        <h:panelGrid columns="5">
            <h:panelGroup>
                <h:commandButton id="btnActualizar" 
                                 value="#{msg.edit}" 
                                 title="#{msg.edit}"
                                 action="#{causasMb.actualizar()}"
                                 onclick="hidenModal('popUpEdit')">
                    <f:ajax event="change" render="panelEditCreate, tablaOpsConfigOrigenPn2" 
                            execute="@this"/>
                </h:commandButton>    
            </h:panelGroup>
            <h:panelGroup>
                <h:commandButton  id="btnCancelar" 
                                  class="btnCancelTest" 
                                  actionListener="#{causasMb.cancelEdit()}"
                                  value="#{msg.cancelar}"
                                  title="#{msg.cancelar}">
                    <f:ajax render="panelEditCreate" 
                            onevent="closeEditModal"/> 
                </h:commandButton>
            </h:panelGroup>
        </h:panelGrid>
    </ui:define>   
</ui:composition>
