<!DOCTYPE html>
<!--imartipe@everis-->
<ui:composition 
    template="/template/templateGeneral.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:panelGroup id="contenidoUser" layout="block"></h:panelGroup>
    <ui:define name="title">#{msg.titulo_configuracion_causa}</ui:define>
    <ui:define name="labels">
        <h:panelGrid columns="8"
                     id="inputTable"
                     style="margin: 0 auto"
                     onclick="hiddenMessage()">
             <h:panelGroup id="campCodCausa">
                <h:message for="codCausaEdit" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbCodCausa"
                               value="Código Causas(*)"
                               for="codCausaEdit"/>
                <h:inputText 
                    id="codCausaEdit"
                    value="#{causasMb.codCausa}"
                    pt:placeholder="Código Causa"
                    required="true"
                    requiredMessage="#{msg.mensaje_validacion}"/>
            </h:panelGroup>
            
            
            
            <h:panelGroup id="campDescripcionCausa">
                <h:message for="DescripcionCausaEdit" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbDescripcionCausa"
                               value="Descripción Causa(*)"
                               for="DescripcionCausaEdit"/>
                <h:inputText 
                    id="DescripcionCausaEdit"
                    value="#{causasMb.descripcion}"
                    pt:placeholder="Descripción Causa"
                    required="true"
                    requiredMessage="#{msg.mensaje_validacion}"/>
            </h:panelGroup>
            <h:panelGroup id="campoEstadoCausa">
                <h:message for="EstadoEdit" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbOpsConfiguracioEstadoEdit"
                               value="Estado (*)"/>
                <h:selectOneMenu  id="EstadoEdit"
                                  value="#{causasMb.estado}"
                                  required="true"
                                  requiredMessage="#{msg.mensaje_validacion}">
                    <f:selectItem itemLabel="--Seleccione--" itemValue=""/>
                     <f:selectItem id="radioEstadoEditSi" 
                                          itemLabel="Activo" 
                                          itemValue="1"/>
                    <f:selectItem id="EstadoEditNo" 
                                  itemLabel="Inactivo" 
                                  itemValue="0"/>
                </h:selectOneMenu>
            </h:panelGroup>
            <h:panelGroup id="campoTipoCausa">
                <h:message for="TipoEdit" 
                           class="mensajes-error-edit"/>
                <h:outputLabel id="lbOpsConfiguracioTipoEdit"
                               value="Tipo Cuausa (*)"/>
                <h:selectOneMenu  id="TipoEdit"
                                  value="#{causasMb.tipoCausa}"
                                  required="true"
                                  requiredMessage="#{msg.mensaje_validacion}">
                    <f:selectItem itemLabel="--Seleccione--" itemValue=""/>
                     <f:selectItem id="radioTipoEditlb" 
                                          itemLabel="Falla Masiva" 
                                          itemValue="Falla Masiva"/>
                </h:selectOneMenu>
            </h:panelGroup>
        </h:panelGrid>            
    </ui:define>
    
    <ui:define name="formBootons">
        <center>
            <div class="booton-position">
                <h:panelGrid columns="2"
                             columnClasses="tdSpacer">
                    <h:commandButton
                        value="#{msg.crear}" title="#{msg.crear}"
                        styleClass="buttonGenericLinkOps" 
                        id="actualizar"
                        action="#{causasMb.guardar()}" 
                        >   
                    </h:commandButton>
                    <h:commandButton
                        value="#{msg.limpiar}"
                        action="#{navigationController.reload()}"
                        styleClass="buttonGenericLinkOps"
                        immediate="true"
                        id="btnClear">   
                    </h:commandButton>                  
                </h:panelGrid>
            </div>
        </center>
    </ui:define>
    
    <ui:define name="dataTable">
            <ui:include
                id="listasEditModal"
                src="/secure/parametrizacion/causas/tablaCausasConfig.xhtml"/>
    </ui:define>
</ui:composition>

