<!DOCTYPE html>
<!--imartipe@everis-->
<ui:composition
    template="/template/templateTable.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:jsf="http://xmlns.jcp.org/jsf"
    id="tablaOpsConfigOrigenComp">
    <ui:define name="data">
        <h:panelGroup id="tablaOpsConfigOrigenPn2">
            <h:dataTable
                id="table"
                value="#{causasMb.listTabla}"
                var="item"
                class="display cell-border compact"
                cellspacing="0"
                >
                <h:column>
                    <f:facet name="header">
                        <center>
                            <h:outputText value=""/>
                        </center>
                    </f:facet>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <center>
                            <h:outputText value="CODIGO"/>
                        </center>
                    </f:facet>
                    <h:outputLabel value="#{item.codCausa}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <center>
                            <h:outputText value="DESCRIPCIÓN"/>
                        </center>
                    </f:facet>
                    <h:outputLabel value="#{item.descrpcion}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="ESTADO"/>
                    </f:facet>
                    <h:panelGroup id="estadoCausaTrue" 
                                  rendered="#{item.estado == 1}">
                        <h:outputText
                        value="Activo"/> 
                    </h:panelGroup>
                    <h:panelGroup id="estadoCausaFalse" 
                                  rendered="#{item.estado == 0}">
                        <h:outputText
                        value="Inactivo"/> 
                    </h:panelGroup>
                </h:column>
                 <h:column>
                    <f:facet name="header">
                        <h:outputText value="TIPO"/>
                    </f:facet>
                    <h:outputText value="#{item.tipoCausa}"/> 
                </h:column>
                <h:column>
                    <center>
                        <h:commandLink  id="editBtn"
                                        title="#{msg.edit}"
                                        actionListener="#{causasMb.preEditar(item)}"
                                        >
                            <h:graphicImage value="/resources/images/icon-editar.png"
                                            alt="#{msg.edit}" 
                                            title="#{msg.edit}"                                        
                                            id="tablaAdminRestricImgEditar"

                                            />
                            <f:ajax render=":panelButtons :panelEditCreate" 
                                    immediate="true"
                                    onevent="openEditModal"
                                    /> 
                        </h:commandLink>
                    </center>
                </h:column>
                <h:column>
                    <center>
                        <h:commandButton
                            title="#{msg.eliminar}"
                            image="/resources/images/icon-eliminar.png"
                            >
                            <f:setPropertyActionListener 
                                target="#{causasMb.causa}"
                                value="#{item}" />
                            <f:ajax  onevent="openDeleteModal"/>
                        </h:commandButton>
                    </center>
                </h:column>
            </h:dataTable>
            <br/>
        </h:panelGroup>
    </ui:define>
    <ui:define name="editInputs">
        <ui:include src="/secure/parametrizacion/causas/configuracionCausasEdit.xhtml"/>
    </ui:define>
    <ui:define name="removeBtns">
        <ui:include src="/secure/parametrizacion/causas/configuracionCausasRemove.xhtml" />      
    </ui:define>
</ui:composition>


